<body>
<main>
<div class="col-md-8 offset-md-1">
<h2>いいねした投稿一覧</h2>
 <table class="table">
  <thead>
   <tr>
    <th>投稿者</th>
    <th>タイトル</th>
    <th>いいね</th>
   </tr>
  </thead>
<%#= render 'posts/post', like_post: @like_posts %>
<tbody>
<% @like_posts.each do |post| %>
<tr>
 <td>
  <%= link_to user_path(post.user) do %>
   <%= image_tag post.user.get_profile_image(80,80) %>
   <%= post.user.user_name %>
  <% end %>
 </td>
 <td>
  <%= link_to post_path(post) do %>
   <%= post.title %>
  <% end %>
 </td>
 <td>
   <i class="fa fa-heart unlike-btn"></i>
   <%= post.likes.length %>
</td>
<% end %>
</tbody>
</table>
</div>
</main>
</body>

